@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400..700&display=swap');

:root {
    --background: white;
    --foreground: black;
    --accent: #ac26ff;
    --font: serif;
}

::selection {
    background-color: var(--accent);
    color: white;
}

body {
    margin: auto;
    padding: 3em 1em;
    max-width: 45em;
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font);
    font-size: 1.2em;
    line-height: 1.3;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-family: Lora, serif;
}

a {
    color: var(--accent);
    text-decoration: none;
}

.mono {
    font-family: monospace;
    font-size: 1.1em;
}

ul {
    list-style: "— ";
}
