:root {
    --foreground: #444;
    --accent: #f08;
}

body {
    max-width: 480px;
    margin: 30px auto;
    padding: 0 15px;
    color: var(--foreground);
    font-family: serif;
    font-size: 1.1em;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: var(--accent);
}

a:visited {
    color: var(--accent);
}

#about {
    white-space: pre-line;
    border-bottom: 1px solid var(--foreground);
    padding-bottom: 20px;
}

blockquote {
    white-space: pre-line;
    font-style: italic;
}

cite {
    font-style: normal;
    font-size: 0.8em;
}
