:root {
    --foreground: black;
    --foreground-light: #f2f2f2;
    --accent: #f08;
    --font: monospace;
}

::selection {
    background-color: var(--accent);
    color: white;
}

body {
    margin: 50px 30px;
    color: var(--foreground);
    font-family: var(--font);
    font-size: 1.2em;
    line-height: 2;
}

a {
    color: var(--foreground);
    text-decoration: none;
    padding: 5px;
    border: 1px solid black;
}

a:hover {
    color: var(--accent);
}
