@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,500');

body {
    max-width: 540px;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 20px;
    font-family: "EB Garamond", serif;
    font-size: 1.2em;
}

a {
    color: #004B6B;
}

#lemonade {
    display: block;
    margin: auto;
    padding-right: 30px;
}

#title {
    margin-top: 10px;
    font-weight: 500;
    font-size: 4.2em;
    text-align: center;
    line-height: 0.6em;
}

#title small {
    font-size: 0.3em;
}

#links {
    clear: both;
    padding-left: 100px;
    list-style: none;
}

#links .name::before {
    content: ':: ';
    font-weight: bold;
}

#links .name::after {
    content: ' →';
}

footer {
    margin-top: 50px;
    text-align: center;
}

@media (min-width: 768px) {
    #lemonade {
        float: left;
        margin: 30px 30px;
        padding: 0 0;
    }

    #title {
        margin-top: 60px;
        text-align: right;
    }

    #title small {
        margin-right: 30px;
    }

    footer {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
}
